.footer-container {
  padding: 40px 0;
  background: #000;
  color: #fff;

  hr {
    border-color: #1f1f1f;
  }
}

.footer-social {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  display: inline-block;
  margin-left: 4px;
  background: #1f1f1f;
  transition: background .3s ease;

  &:hover {
    color: #000;
    text-decoration: none;
    background: $yellow;
  }
}

.copyright {
  padding: 5px 0;
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.footer-nav {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;

  & > li {
    display: inline-block;
  }

  & > li.footer-nav-block {
    display: block;
    margin-top: 10px;
  }

  & > li > a {
    padding: 5px 10px;
    display: block;
    color: #fff;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  & > li > a.btn-outline {
    margin-left: 10px;
  }
}

.get-in-touch {
  text-align: center;
}

.franchise {
  text-align: center;
  display: block;
}

@media (min-width: 550px) {
  .get-in-touch {
    float: left;
  }

  .franchise {
    float: right;
  }
}

@media (min-width: 992px) {
  .copyright {
    float: left;
  }

  .footer-nav {
    float: right;

    & > li.footer-nav-block {
      margin-top: 0;
      display: inline-block;
    }
  }
}