.nav-main {
  position: relative;
  top: 0;
}

.nav-main > li > a{
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;

  &.active,
  &:hover,
  &:focus {
    background: none;
    color: $yellow;
  }

  &.btn-outline {
    border: none;
  }
}

.nav-main .open > a,
.nav-main .open > a:hover,
.nav-main .open > a:focus {
  background: none;
  color: $yellow;
}

.navbar-toggle {
  background: #000;
  margin: 0 20px 0 0;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

@media (min-width: 768px) {
  .nav-main > li > a.btn-outline {
    margin-left: 20px;
  }

  .nav-main {
    top: 6px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-main {
    top: 0;
  }
}