.section-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  border-bottom: 4px solid $yellow;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 0 0 20px;
}

.section-sub-title {
  font-size: 22px;
  text-transform: uppercase;
  color: $yellow;
}

.sports-section,
.facebook-section {
  padding: 20px 0;
}

.services-section {
  padding: 0 0 20px;
}

.eastlake-list-group {
  .list-group-item {
    padding: 5px 10px;
    background: none;
  }
}